.app-footer {
	margin-top: 20px;

	.wrapper {
		background-color: $doveGray;

		.container {
			max-width: $global-width;
			padding-left: 0;
			padding-right: 0;

			.sub-wrapper {
				height: auto;
				padding: 32px 30px;

				@media (max-width: 1200px) {
					padding: 32px 15px 40px;
				}

				@media (max-width: 992px) {
					padding: 32px 15px 30px;
				}

				.first-block {
					.footer-logo {
						.footer-logo-icon {
							width: 67%;
							min-width: 137px;
							margin-bottom: 12px;

							@media (max-width: 1200px) {
								width: 167px;
							}

							@media (max-width: 1024px) {
								width: 137px;
							}

							@media (max-width: 992px) {
								width: 100%;
								max-width: 195px;
							}
						}
					}

					.text-block-after-logo {
						color: $white;
						font-size: 20px;
						line-height: 25px;
						font-weight: 400;
						font-family: $default-font-family;
						user-select: none;
					}
				}

				.second-block {
					.footer-general-icons-list {
						margin-bottom: 24px;

						@media (max-width: 992px) {
							margin-top: 40px;
						}

					}

					@media (max-width: 992px) {
						padding: 0 !important;
					}

					.footer-social-icons-list {
						margin-bottom: 15px;
					}

					.footer-general-icons-list,
					.footer-social-icons-list {
						display: flex;
						justify-content: center;
						flex-wrap: wrap;

						a {
							text-decoration: none;
						}



						.footer-general-link {
							letter-spacing: 2px;
							// white-space: nowrap;
							margin: 0 10px;
							color: $white;
							text-transform: uppercase;
							font-family: $default-font-family;
							font-size: 14px;
							font-weight: 600;
							cursor: pointer;

							&:hover {
								opacity: 0.7;
								transition: 0.3;
							}
						}

						.touchable-social-zone {
							cursor: pointer;

							svg {
								fill: #fff;
								margin: 0 15px;

								@media (max-width: 576px) {
									margin: 0 10px;
								}
							}

							@media (max-width: 400px) {
								.social-icon {
									margin: 0 10px;
								}
							}

							@media (max-width: 576px) {
								.social-icon {
									height: 27px;
								}
							}

							&:hover {
								opacity: 0.7;
								transition: 0.3;
							}
						}
					}

					.copyright-text {
						text-align: center;

						.text-string {
							color: $white;
							font-size: 12px;
							font-weight: 400;
							font-family: $default-font-family;
						}
					}
				}

				.third-block {
					text-align: right;

					.market-place-button {
						background-color: transparent;
						outline: none;
						border: none;

						.market-place-icon {
							display: block;
							width: 145px;
							height: auto;
						}
					}
				}
			}
		}
	}

	@media (max-width: 576px) {
		.wrapper {
			.container {
				.sub-wrapper {
					padding: 24px 10px;

					.first-block {
						text-align: center;

						.text-block-after-logo {
							font-size: 18px;
						}

						.footer-logo {
							.footer-logo-icon {
								width: 50%;
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 576px) {
		.wrapper {
			.container {
				.sub-wrapper {
					.second-block {
						.footer-general-link {
							letter-spacing: 0px !important;
						}
					}

					.third-block {
						text-align: center;

						.wrapper-market-icon {
							display: inline-block;

							.google-play {
								width: 162px !important;
							}
						}

						.copyright-text {
							text-align: center;
							margin-top: 20px;

							.text-string {
								color: $white;
								font-size: 12px;
								font-weight: 400;
								font-family: $default-font-family;
							}
						}
					}
				}
			}
		}
	}
}
