.hot-news-wrapper {
  font-family: 'Open Sans', Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  background: $wildSand;
  .hot-news {
    line-height: 1;
    max-width: $global-width;
    margin: 0 auto;
    padding: 10px 15px;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: auto 1fr auto;
    font-size: 14px;
    .hot-news-title {
      padding-top: 3px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
    }
    .hot-news-item-list-wrapper {
      overflow-x: hidden;
    }

		.stop-animation {
			animation: rolling infinite linear 50s paused !important;
		}
    .hot-news-item-list {
      padding-top: 3px;
      // padding: 0 12px;
      line-height: 1;
      display: flex;
      width: fit-content;
      position: relative;
			animation: rolling infinite linear 50s ;
			@keyframes rolling {
        from {
          transform: translate(-0%, 0);
        }
        to {
          transform: translate(-50%, 0)
        }
      }
      .hot-news-item {
        padding: 0 12px;
        width: max-content;
        .hot-news-link {
          color: $black;
          text-decoration: none;
          cursor: pointer;
          user-select: none;
          &:hover {
            color: $hover_color;
          }
        }
      }
    }
    .nav-search {
      svg{
        cursor: pointer;
        fill: #F63E3C;
        &:hover {
          fill: #bc2d2d;
        }
      }
    }
  }
}
