.note-dashboard {
  .button-block {
		display: flex;
		justify-content: left;
    margin-top: 17px;

    .active {
      margin-left: 0;
      margin-right: 10px;
    }
    .add {
      background-color: #ff4242;
      &:hover {
        background-color: #bc2d2d;
      }
    }
    button {
      box-sizing: inherit;
      text-decoration: none;
      display: inline-block;
      vertical-align: middle;
      // margin: 0 0 1rem;
      font-family: inherit;
      border: 1px solid transparent;
      border-radius: 0;
      transition: background-color 0.25s ease-out, color 0.25s ease-out;
      font-size: 0.9rem;
      line-height: 1;
      text-align: center;
      cursor: pointer;
      color: #fefefe;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      user-select: none;
      padding: 0.85em 1.4em 0.8em;
    }
  }
  .blockInput {
    padding-left: 0px;
    margin-bottom: 15px;
    .form-input {
      border: 1px solid #c6c6c6;
      border-radius: 2px;
      padding: 0.4em;
      line-height: 1.25;
    }
    .select {
      margin: 0;
      box-sizing: border-box;
      font-family: inherit;
      border: 1px solid #c6c6c6;
      border-radius: 2px;
      padding: 0.65em;
      line-height: 1.25;
      background: 0 0;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      font-size: 0.8em;
      width: 100%;
      appearance: none;
      cursor: pointer;
      option {
        font-size: 1em;
      }
    }
    textarea {
      width: 100%;
      height: auto;
      min-height: 50px;
    }
    label {
      display: block;
      line-height: 1.5;
      color: #0a0a0a;
      box-sizing: inherit;
      font-weight: 600;
      font-size: 1.2em;
      letter-spacing: 0.5px;
      margin-bottom: 0.1em;
    }
  }
}
