.bigHeader {
	.menu {
		display: inline-block;
		margin-right: 10px;
	}

	.image-block {
		max-width: 327px;
		flex: 0 0 327px;

		@media (max-width: 1023px) {
			max-width: 267px;
			flex: 0 0 267px;
		}

		@media (max-width: 768px) {
			max-width: 220px;
			flex: 0 0 220px;
			padding: 0;
		}

		@media (max-width: 540px) {
			max-width: 180px;
			flex: 0 0 180px;
			padding: 0;
		}
	}

	.bigHeader-row {
		@media (max-width: 460px) {
			display: flex !important;
			justify-content: center;
		}
	}

	.bigHeader-row__vRep {
		@media (max-width: 460px) {
			display: flex !important;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}
	}

	.container {
		max-width: $global-width;
		font-family: open sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;

		.stat {
			text-align: end;
			margin-top: 15px;

			.wrapper-statistic {
				display: inline-block;
				margin: 0 15px;
				text-align: center;
				min-width: 80px;

				@media (max-width: 768px) {
					margin-left: 0px;
					text-align: left;
				}

				@media (max-width: 540px) {
					margin-right: 8px;
				}

				.statistic-title {
					line-height: 1.9;
					font-weight: 600;
					color: $primary-color;
					letter-spacing: 0.5px;
					font-size: 100%;
					font-family: "Open Sans", sans-serif;

					@media (max-width: 1023px) {
						font-size: .9em;
					}
				}

				.statistic-count {
					font-family: "Open Sans", sans-serif;
					line-height: 1;
					color: $black;
					letter-spacing: 0.5px;
					font-size: 2.1em;
					font-weight: 400;
					margin-bottom: 0px;

					@media (max-width: 1023px) {
						font-size: 1.7em;
					}

					@media (max-width: 768px) {
						font-size: 1.5em;
						font-weight: 600;
					}

					@media (max-width: 540px) {
						font-size: 1.3em;
						// font-weight: 600;
					}
				}
			}
		}

		.breadcrumbs {
			font-size: 11px;
			font-weight: 400;
			margin-top: 7px;
			margin-bottom: 1em;

			span {
				font-size: 10px;
				margin: 0 2px;
			}

			a {
				text-decoration: none;
				color: rgb(10, 10, 10);

				&:hover {
					color: #ff4242;
				}
			}

			p {
				display: contents;
			}
		}

		.addPhoto {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			left: 8%;
			top: 2%;
			z-index: 3;
			text-align: center;
			color: white;
			background-color: #ff4242;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			cursor: pointer;
			fill: $white;
		}

		.img {
			position: relative;
			// border-radius: 50%;
			// overflow: hidden;
			// border-radius: 50%;
			max-width: 230px;
			max-height: 230px;

			margin: 0.9em auto;

			#file {
				opacity: 0;
				display: none;
			}

			img {
				border-radius: 50%;
				border: 8px solid #f4f4f4;
			}

			.icon-add-photo {
				position: absolute;
				width: 10px;
				height: 10px;
				background-color: red;
			}

			.default-avatar {
				width: 100%;
				height: 100%;
				max-width: 214px;
				max-height: 214px;
				min-height: 100%;
			}
		}

		.follow-block {
			display: flex;
			justify-content: center;
		}

		.vrep-count {
			color: #e0a31b;
			font-size: 2.2em;
			font-weight: 200;
			line-height: 1.15;
			margin-bottom: 0px;

			@media (max-width: 768px) {
				font-size: 1.7em;
				;
			}
		}

		.vrep-title {
			font-size: 1em;

			@media (max-width: 768px) {
				font-size: .9em;
				font-weight: 600;
			}
		}

		.about-your-role {
			text-align: center;

			.your-role {
				margin-bottom: 0.4em;
				font-size: 1.1em;
				font-weight: 600;
			}
		}

		.your-name {
			letter-spacing: 0.35px;
			margin: 0.2em 0 0.4em 0;
			font-size: 2.15em;
			font-weight: 700;
			font-family: "Open Sans", sans-serif;

			@media (max-width: 1023px) {
				font-size: 1.8em;
			}
		}

		.mail-content {
			margin-top: 25px;

			.mail-wrapper {
				background-color: #ffbb28;
				color: $white;
				width: 40px;
				height: 40px;
				border-radius: 20px;
				overflow: hidden;
				text-align: center;
				line-height: 40px;
				font-size: 20px;
			}
		}

		.member-since {
			font-size: 1em;
			font-weight: 700;

			@media (max-width: 1023px) {
				font-size: .9em;
			}
		}
	}

	@media (max-width: 576px) {
		.container {

			.your-name,
			.member-since,
			.stat {
				// text-align: center;
			}

			.mail-content {
				display: none;
			}

			.your-name {
				font-size: 1.5em;
			}

			.your-role {
				font-size: 0.85em;
			}
		}
	}
}
