.posts-draft {
  .block {
    font-family: open sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    img {
      width: 100%;
      cursor: pointer;
    }
    .content-draft {
			padding: 0.9em 0;
			margin-top: 0px !important;
      .bottom {
        margin-top: 5px;
      }
      svg {
        fill: #ff4242;
        width: 15px;
      }
      span {
        display: flex;
        align-items: center;
      }
      .link {
        text-decoration: none;
				color: inherit;
				display: -webkit-box;
				height: calc(1.5em * 3);
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
      }
      h5 {
				text-overflow: ellipsis;
        color: #0a0a0a;
        box-sizing: inherit;
        max-height: calc(1.3em * 3);
        font-size: 1.3em;
        letter-spacing: -0.3px;
        margin: 0;
        transition: color 0.25s;
        line-height: 1.15;
        font-weight: 700;
        transition: color 0.25s ease-out, color 0.25s ease-out;
        cursor: pointer;
        &:hover {
          color: #575757;
        }
      }
      .button-edit {
        margin-left: auto;
        padding: 0.35em 0.9em;
        border-radius: 3px;
        box-sizing: inherit;
        display: flex;
        align-items: center;
        font-family: inherit;
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
        line-height: 1;
        text-align: center;
        cursor: pointer;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        user-select: none;
        text-decoration: none;
        font-size: 0.6rem;
        background: 0 0;
        padding: 0.35em 0.9em;
        border-radius: 3px;
        border: 1px solid #8d8d8d;
        color: #8d8d8d;
        &:hover {
          border-color: #474747;
          background-color: #606060;
          color: #fff;
        }
        svg {
          margin-right: 5px;
          color: #ff4242;
        }
      }
      p {
				margin-left: 5px;
				margin-bottom: 0px;
        font-weight: 600;
        font-size: 0.9em;
        letter-spacing: -0.3px;
        color: inherit;
        line-height: 1.8;
        box-sizing: inherit;
        cursor: pointer;
        transition: color 0.25s ease-out, color 0.25s ease-out;
        &:hover {
          color: #ff4242;
        }
      }
    }
  }
}
