.tabs {
	top: 71px;
	position: sticky;
	z-index: 1;

	@media (max-width: 640px) {
		padding-top: 10px;
	}

	.menu {
		margin-right: 10px;
		display: block;
		margin-bottom: 5px;

		@media (max-width: 768px) {
			padding: 10px 0;
		}
		@media (max-width: 639px) {
			padding-bottom: 7px;
			padding-top: 0px;
			margin-right: 0px;
		}

		.menu-block {
			display: flex;
			align-items: center;

			@media (max-width: 768px) {
				display: inline;
			}
		}
	}

	.open {
		transform: rotate(180deg);
	}

	.counter {
		margin-left: 5px;
	}

	.icon {
		color: #919191;
		display: block;
		margin-left: 10px !important;

		@media (max-width: 768px) {
			display: none !important;
		}
	}

	.active-tab {
		color: #ff4242;
	}



	li {
		@media (max-width: 768px) {
			text-align: center;
		}

		@media (max-width: 639px) {
			margin-top: 0px;
		}
	}

	.title {
		vertical-align: middle;
		display: contents;

		@media (max-width: 639px) {
			display: none;
			margin-top: 25px;
		}
	}

	.link {
		text-decoration: none;
		color: inherit;
	}

	.menu {
		color: #0a0a0a;
		text-transform: uppercase;
		font-weight: 700;
		cursor: pointer;
		transition: color 0.25s;

		@media (max-width: 768px) {
			text-transform: none;
			font-size: 0.7em;
			font-weight: 400;
		}

		&:hover {
			color: #ff4242;
		}

		svg {
			margin: 8px 0;
			margin-right: 1.2em;

			@media (max-width: 768px) {
				margin-right: 0;
				margin: 0 auto;
				display: block;
			}

			@media (max-width: 639px) {
				width: 25px;
				height: 25px;
				// margin-top: 20px;
				margin-bottom: 10px;
			}
		}
	}

	.blockSubMenu {
		@media (max-width: 768px) {
			display: flex;
			position: absolute;
			width: calc(100vw - 100% - 2.05rem);
			overflow-x: scroll;
			left: 96px;
			top: 0px;
			background-color: #f4f4f4;
			cursor: pointer;
			z-index: 1;
		}

		@media (max-width: 639px) {
			left: 31px;
			top: 0px;
			width: calc(100vw - 100% - 1rem);
		}

		.subMenu {
			list-style-type: none;
			color: #7a7a7a;
			font-weight: 700;
			cursor: pointer;
			transition: color 0.25s;
			font-size: 16px;
			margin-left: 60px;
			text-transform: none;
			padding: 8px 0;

			@media (max-width: 768px) {
				margin-left: 0px;
				margin-top: 0px;
				font-size: 14px;
				padding: 0.8em 1em 0.8em;
				display: list-item;
				white-space: nowrap;
			}

			@media (max-width: 639px) {
				font-size: 11.5px;
			}

			&:hover {
				color: #ff4242;
			}
		}
	}
}
