.default-news-card {
	margin-bottom: 2em;
	position: relative;
	// background-color: $black;

	.active {
		visibility: visible !important;
	}

	a {
		cursor: pointer;
	}

	.picture {
		.title {
			margin-top: 5px;
			// -webkit-font-smoothing: antialiased;
			font-family: open sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
			// -webkit-box-direction: normal;
			font-size: 1.3em;
			letter-spacing: -.3px;
			line-height: 1.3;
			box-sizing: inherit;
			background-color: transparent;
			text-decoration: none;
			color: inherit;
			overflow-wrap: normal;
			word-wrap: normal;
			line-break: auto;
			// min-height: 95px;
			display: block;
		}

		a {
			width: 100%;
			height: auto;

			img {
				width: 100%;
				background-color: $black;
				transition: 0.3s;
			}
		}

		.with-padding {
			padding: 0.9em 1em;
		}

		.without-padding {
			padding: 0.9em 0em;

			@media (max-width: 767px) {
				padding: 0.9em 1em;
			}
		}

		.information {
			background-color: $white;
			height: auto;

			.container-fluid {
				padding: 0;

				.bywho {
					flex-wrap: wrap;
					// margin-bottom: 5px;
					padding-top: .3em;
					font-size: .9em;
					letter-spacing: -.3px;
					user-select: none;
					position: relative;

					.username-link {
						cursor: pointer;
						color: $black;
						text-decoration: none;
						font-weight: 600;
						transition: color 0.3s;

						&:hover {
							color: $primary_color;
						}
					}
				}
			}

			.title {
				// font-size: 1em;
				// line-height: 1.4;
				margin-top: .3em;
				margin-bottom: .5em;
				text-overflow: ellipsis;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				font-weight: bold;
				color: #000;
				cursor: pointer;
				user-select: none;
				color: $black;
				text-decoration: none;
				transition: color .3s;

				&:hover {
					color: $doveGray;
				}
			}

			.wrapp {
				margin-left: 0;
				margin-right: 0;
				justify-content: space-between;
			}
		}
	}
	.action {
		cursor: pointer;
		text-decoration: none;
		padding: 4px 9px;
		// margin: 0 0.9375rem;
		border: 1px solid;
		border-color: #ff4242;
		color: #ff4242;
		border-radius: 4px;
		vertical-align: middle;
		align-items: center;
		letter-spacing: .8px;
		font-weight: 700;
		font-size: 10px;
		text-transform: uppercase;

		&:hover {
			color: white;
			background-color: #bc2d2d;
			border-color: #bc2d2d;
		}
	}
}

