.dashboard-search-component {
	.multiselect__input {
		border: none  !important;
	}
	.multiselect__tags {
		font-weight: 700;
		font-size: 0.8em !important;
		line-height: 1.25;
		letter-spacing: 0.7px;
		min-height: 37px !important;
	}
	.form {
		display: flex;
		justify-content: space-between;
		@media (max-width: 991px) {
			flex-direction: column;
		}
		.form-wrap {
			width: 25%;
			flex: 1 1 25%;
			padding-right: 10px;
			@media (max-width: 991px) {
				width: 100%;
				margin-bottom: 10px;
			}
		}
		.search-input {
			box-sizing: inherit;
			margin: 0;
			overflow: visible;
			font-family: inherit;
			font-size: 80%;
			width: 100%;
			border: 1px solid #c6c6c6;
			border-radius: 2px;
			padding: 0.65em;
			line-height: 1.25;
			// text-transform: uppercase;
		}
		select {
			width: 100%;
			margin: 0;
			box-sizing: border-box;
			width: 100%;
			font-family: inherit;
			border: 1px solid #c6c6c6;
			border-radius: 2px;
			padding: 0.65em;
			line-height: 1.25;
			background: 0 0;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.7px;
			-webkit-appearance: none;
			font-size: 0.8em;
		}
		.button-block {
			margin: auto;
			button {
				box-sizing: inherit;
				overflow: visible;
				display: inline-block;
				margin: 0 5px 0 0;
				font-family: inherit;
				transition: background-color 0.25s ease-out, color 0.25s ease-out;
				line-height: 1;
				text-align: center;
				cursor: pointer;
				user-select: none;
				text-transform: none;
				letter-spacing: 0.9px;
				border-radius: 5px;
				vertical-align: text-top;
				margin-bottom: 0;
				font-weight: 400;
				pointer-events: all;
				background: 0 0;
				font-size: 0.75rem;
				padding: 0.55em 1.4em;
				border: 1px solid;
			}
			.search {
				border-color: #ff4242;
				color: #ff4242;
				&:hover {
					background-color: #bc2d2d;
					border-color: #a10000;
					color: #fff;
				}
			}
			.reset {
				border-color: #8d8d8d;
				color: #8d8d8d;
				&:hover {
					background-color: #606060;
					border-color: #474747;
					color: #fff;
				}
			}
		}
	}
}
