$doveGray: #6A6A6A;
$white: #fff;
$primary_color: #ff4242;
$primary-bgcolor: #fff;
$heading-color: #696969;
$secondary-bgcolor: #f4f4f4;
$hover_color: #bc2d2d;
$foundation-palette: (
  primary: $primary_color,
  primary-hover: #bc2d2d,
  secondary: #8d8d8d,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$light-gray: #e5e5e5;
$medium-gray: #cacaca;
$dark-gray: #6d6d6d;
$black: #000;
$whiteFE: #fefefe;
$top-comment-color: #f5f5f5;
$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-plus-color: #dc4e41;
$instagram-color: #6a453b;
$pinterest-color: #cb2027;
$tumblr-color: #395976;
$feed-color: #f26522;
$reddit-color: #000;
$linkedin-color: #0e76a8;
$flipboard-color: #cd2900;
$envelope-color: #ffbb28;
$feedberner-color: #0075bf;
$black05: rgba(0,0,0,0.5);
$black03: rgba(0,0,0,0.3);
$coralRed: rgba(255, 66, 66, 0);
$wildSand: #F4F4F4;
$millbrook: #6A453B;
$pictonBlue: #55ACEE;
$flamingo: #F26522;
$cardinal: #CB2027;
$lochmara: #0075BF;
$chambray: #3B5998;
$modal-window-overlay: rgba(#000, .9);
$search-title-color: #fff;
$button-hover-background: #bc2d2d;
$feedburner: #0075bf;
$mercury: #E1E1E1;
$silverChalice: #A0A0A0;
$doveGray: #696969;
$masala: #4A4A4A;
$silverChalice: #999;
$mandy: #E54B4D;
$shark: rgba(34,36,38,0.35);
$doveGray1: #575757;
$shark026: rgba(35, 36, 40, 0.26);
$dedede: #dedede;
$yellowCount: #efb83c;
$social_button_background_whiteF8: #f8f8f8;