

.toastedCustom {
	width: 420px !important;
	height: 43px !important;
	border-left: 5px solid;
	justify-content: center !important;
	font-weight: 600 !important;
	// border-color: none ;
	background-color: #545454 !important;
	border-left-color: #3dcc36;
}
.error {
	border-left-color: #ff4242;
}
